.digit > .right {
    display: inline-block;
}

.digit > .center, .digit > .left{
    float: left;
}

.digit > .left > div, .digit > .right > div{
    margin-top: 4px;
    height: 75px;
    width: 7px;
    background-repeat: no-repeat;
}

.digit > .center > div {
    height: 7px;
    width: 75px;
}

.digit > .center img{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
        margin-top: -34px;
    margin-left: 35px;
}

.digit > .center > .center, .digit > .center > .bottom{
    margin-top: 94%;
}

.invisible {
    visibility: hidden;
}

.etalon{
    display: none;
}

.digit, .sign, .equals{
    float: left;
    margin: 10px;
}

.sign .horizontal{
    height: 7px;
    width: 75px;
    margin-top: 77px;
}

.sign .vertical{
    height: 75px;
    width: 7px;    
    margin-top: -43px;
    margin-left: 36px;
}

.equals img{
    height: 7px;
    width: 75px;
    margin-top: 51px;
    display: block;
}

.highlighted{
/*    background: aqua;*/
}

.digit img, .sign img {
    width: 7px;
    height: 75px;
}

#header{
    width: 100%;
    background: green;
    padding: 20px;
    color: white;
    min-height: 68px;
    font-size: 20px;
}

.equals{
    height: 150px;
}

.select-level{
    float: right;
    cursor: pointer;
}

.background-chooser{
    position: absolute;
    text-align: center;
    margin-top: -23px;
    width: 100%;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
}

#content img{
    background: white;
}

#content{
    margin: auto;
    display: table;
}

.droparea{
    background: bisque;
}

.modal-body div{
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}