.digit > .right {
    display: inline-block;
}

.digit > .center, .digit > .left{
    float: left;
}

.digit > .left > div, .digit > .right > div{
    margin-top: 10px;
    height: 100px;
    width: 10px;
    background-repeat: no-repeat;
}

.digit > .center > div {
    height: 10px;
    width: 100px;
}

.digit > .center img{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: -40px;
    margin-left: 45px;
}

.digit > .center > .center, .digit > .center > .bottom{
    margin-top: 94%;
}

.invisible {
    visibility: hidden;
}

.etalon{
    display: none;
}

.digit, .sign, .equals{
    float: left;
    margin: 20px;
}

.sign .horizontal{
    height: 10px;
    width: 100px;
    margin-top: 110px;
}

.sign .vertical{
    height: 100px;
    width: 10px;
    margin-top: -55px;
    margin-left: 50px;
}

.equals img{
    height: 10px;
    width: 100px;
    margin-top: 70px;
    display: block;
}

.highlighted{
    background: aqua;
}

.digit img, .sign img {
    width: 10px;
    height: 100px;
}

#header{
    width: 100%;
    background: green;
    padding: 10px;
}

.equals{
    height: 220px;
}

.moves{
    float: right;
}

.background-chooser{
    position: absolute;
    text-align: center;
    margin-top: -23px;
    width: 100%;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
}

#content img{
    background: white;
}